---
layout: default
---
  {%- include header.html -%}
  <div id="main">
    <article class="shade-two">
      <div class="container">
        <header>
          <h2>{{- page.title -}}</h2>
          <p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
        </header>
        <div class="fade-text">
        {{- content -}}
        </div>
      </div>
    </article>
  </div>

  <script>
    document.addEventListener('scroll', function () {
      const scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
      const windowHeight = window.innerHeight;
      const fadeThreshold = windowHeight * 0.05;

      const fadeElement = document.querySelector('.fade-text');
      const fadeElements = fadeElement.querySelectorAll('p, h1, h2, h3, h4, h5, h6, div');

      fadeElements.forEach(element => {
        const rect = element.getBoundingClientRect();
        const elementTop = rect.top;
        const elementBottom = rect.bottom;

        if (elementTop < fadeThreshold) {
          element.style.opacity = Math.max(1 - (fadeThreshold - elementTop) / fadeThreshold, 0.2);
        } else if (elementBottom > windowHeight - fadeThreshold) {
          element.style.opacity = Math.max(1 - (elementBottom - (windowHeight - fadeThreshold)) / fadeThreshold, 0.2);
        } else {
          element.style.opacity = 1;
        }
      });
    });
  </script>
