---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
    <!-- Review Post -->
    <article class="shade-two">
        <div class="container">
            <header>
                <h2>{{ page.title }}</h2>
                {%- assign review_date = page.path | regex_replace: '^.*\/(\d{4})-(\d{2})-(\d{2})-.*$', '\1-\2-\3' -%}
                <p>{% if page.author %}{{ page.author }}, {% endif %}{{ review_date | date: "%B %d, %Y" }}</p>
            </header>
            {{ content }}
        </div>
    </article>
</div>